body {
  background-color: oldlace;
}

.navbar {
  text-transform: uppercase;
  font-weight: bold;
  background-color: oldlace;
  color: rgb(38, 38, 38);
  font-size: 15px;
}

.nav-link,
.navbar-brand {
  color: rgb(38, 38, 38);
}

.nav-link:hover,
.contact:hover {
  color: rgb(255, 76, 74);
}

.navbar-brand:hover {
  color: rgb(38, 38, 38);
}
.navbar-brand {
  margin-left: 5%;
  font-size: 24px;
}

#navOptions {
  margin-right: 5%;
}

.nav-item {
  margin-right: 7%;
}

.collapse {
  margin-right: 5%;
}

#myImg {
  height: 400px;
  width: 450px;
  margin-left: -2%;
}

.jumbotron {
  margin: 5% 10%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(253, 245, 230);
  color: rgb(38, 38, 38);
}

#title {
  font-weight: bolder;
  margin-bottom: 2%;
}

#aboutMe {
  margin-top: 10%;
  font-size: 14px;
  font-weight: 500;
}

#contactMe {
  color: rgb(38, 38, 38);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.contact {
  margin-right: 3%;
  color: rgb(38, 38, 38);
  font-size: 15px;
}
@media (max-width: 993px) {
  .navbar-light {
    text-transform: uppercase;
    font-weight: bold;
    background-color: oldlace;
    color: rgb(38, 38, 38);
    font-size: 15px;
  }
}

.form-control {
  text-transform: uppercase;
  font-weight: bold;
}

#contactSubmit {
  background-color: rgb(38, 38, 38);
}

.card {
  margin-bottom: 10%;
}
